#head-txt {
  fill: rgb(54, 54, 54);
}
.info-graphic,
.info-text {
  background-color: var(--color-info-bg);
  padding: 20px 0;
  border: 2px solid var(--color-stoke);
}
.info-text h2 {
  border: 2px solid var(--color-titel);
  background-color: var(--color-titel);
  text-align: center;
  color: var(--color-artikel-txt);
  line-height: 3rem;
  margin-bottom: 1rem;
}
.info-graphic {
  border-radius: 0;
}
.info-grafic svg {
  width: 100%;
}

.info-text h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.info-text > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
.info-text p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
.info-box {
  background-color: var(--color-head-bg);
  color: var(--color-text);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid var(--color-stoke);
}
#requirement {
  margin-top: 1rem;
}

.hide {
  visibility: hidden;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s linear;
}
